name: Procesar Facturas Baolai
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Configurar Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'
      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Ejecutar Extractor
        run: python app.py
      - name: Guardar Excel
        uses: actions/upload-artifact@v2
        with:
          name: reporte-excel
          path: reporte_final.xlsx
